:root{
    --main-color: #F06292;
    --second-color: #f7f7f7;
    --head-font-color: #49BEF2;
    --main-font-color: #757F95;
    --margin-size: 40px;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lemonada', cursive;
}
.css-nicjba-MuiContainer-root{
    padding-top: 100px;
}
/* start components */
.btn{
    border: 3px solid black;
    margin: 10px auto;
    text-transform: uppercase;
    width: fit-content;
    padding: 5px 10px;
    font-size: 20px;
    background: none;
    color: black;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: var(--main-color);
    border: none;
    padding: 8px 13px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
section{
    position: relative;
    z-index: 100;
    background-color: var(--second-color);
}