.land{
    height: calc(100vh - 80px);
    display: flex;
    background-image: url("../../assets/8375776.png");
    background-size: cover;
    position: relative;
    top: 100px;
}
.land::after{
    content: '';
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    background-color: rgba(0,0,0,0.1);
}
.land .container{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    align-items: center;
}
.land .container h2{
    font-size: 34px;
    margin: 20px 0;
    /* color: white; */
    position: relative;
    z-index: 1;
}
.land .container h2 span{
    color: var(--main-color);
}
.land .container a{
    border: 3px solid black;
    margin: 10px auto;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    background: none;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.land .container a:hover{
    background-color: black;
    color: var(--main-color);
    border: none;
    padding: 13px 23px;
}
/* end landing */
/* start features */
.features{
    padding: var(--margin-size);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
}
.features .our-features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features .our-features span, .services .head span{
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: .2rem;
}
.features .our-features h1, .services .head h1{
    text-transform: uppercase;
    color: var(--head-font-color);
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 20px;
    text-align: center;
}
.features .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--main-color);
}
.features .container .card, .services .container .card, .types .container .card{
    margin: 15px;
    width: 300px;
    box-shadow: 0px 0px 15px -5px var(--main-font-color);
    padding: 15px;
    position: relative;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    cursor: default;
}
.features .container .card:hover{
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}
.features .container .card::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: all .3s ease-in-out;
}
.features .container .card:hover::after{
    width: 100%;
}
.features .container .card span{
    width: 100%;
    display: flex;
}
.features .container .card span img{
    width: 30%;
    margin: 15px;
}
.features .container .card h2, .services .container .card h2, .types .container .card h2{
    letter-spacing: .1rem;
    font-size: 20px;
}
.features .container .card p, .services .container .card p, .types .container .card p{
    color: var(--main-font-color);
    font-size: 14px;
}
/* end features */
/* start services */
.services, .types, .scroll-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 50px 0; */
    color: var(--main-color);
}
.services{
    padding: var(--margin-size);
}
.scroll-section{
}
.services .head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services h1, .types h1, .scroll-section h1{
    color: var(--main-color);
}
.scroll-section h1{
    background-color: #ffdf99;
    width: 100%;
    text-align: center;
    margin: 10px;
}
.services .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .card:hover, .types .container .card:hover{
    transform: none;
    box-shadow: none;
}
.services .container .card:hover::after, .types .container .card:hover::after{
    width: 0%;
}
.services .container .card span{
    display: flex;
    width: fit-content;
    transition: all .4s ease-in-out;
}
.services .container .card span img{
    width: 30%;
    margin: 15px;
}
.services .container .card:hover span{
    transform: rotate(360deg);
}
.services .container .card a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
}
.services .container .card a:hover{
    color: var(--main-font-color);
}
/* end services */
/* start types */
.types{}
.types .container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* end types */
/* start ScrollSection */
.scroll-section .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.scroll-section .container .partner{
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    position: relative;
}
.scroll-section .img{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: -10px;
}
.scroll-section .img img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.scroll-section .img .para{
    position: absolute;
    z-index: 3;
    top: 50%;
    transition: all 0.4s ease-in-out;
    left: 40%;
    width: 35%;
    font-size: 100%;
    transform: translate(50%, -50%);
}
.scroll-section .img .para h2{
    
}
.scroll-section .img .para p{
    color: var(--main-font-color);
    font-weight: 300;
}
@media (min-width: 1000px) {
    .scroll-section .img .para{
        top: 35%;
    }
}
@media (max-width: 712px) {
    .scroll-section .img .para p{
        font-size: 9px;
    }
}
@media (max-width: 375px){
    .scroll-section .img .para h2{
        font-size: 15px;
    }
    .scroll-section .img .para p{
        font-size: 8px;
    }
}
@media (max-width: 320px){
    .scroll-section .img .para h2{
        font-size: 10px;
    }
    .scroll-section .img .para p{
        font-size: 7px;
    }
}
/* end ScrollSection */