header{
    width: 100%;
    height: 100px;
    background-color: var(--second-color);
    color: white;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 101;
    box-shadow: 0 0px 1px #8b8b8b;
}
header .container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 101;
}
/* start scrolling  */
header.scroll{
    height: 50px;
    position: fixed;
    margin: 0;
}
header.scroll .container{
    height: 50px;
}
header.scroll .logo{
    position: absolute;
    width: fit-content;
    /* padding: 10px 20px; */
    background-color: var(--main-color);
    border-radius: 20px;
    bottom: -60%;
    z-index: 3;
}
header.scroll .logo a{
    color: #fff;
}
header.scroll .logo a img{
    margin-top: 5px;
}
/* end scrolling */
header a{
    /* color: white; */
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
header .contact-all{
    display: flex;
    flex: 1;
    height: 100%;
    margin-right: 50px;
    align-items: center;
}
header .contact-all .contact{
    height: 100%;
    align-items: center;
}
header .contact-all ul.contact{
    display: flex;
    width: fit-content;
    list-style: none;
    padding: 0;
    margin: auto;
}
header .contact-all ul.contact li{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    align-items: center;
}
header .contact-all ul.contact li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}
header .contact-all ul.contact li:hover a{
    color: var(--main-color);
    border-bottom: none;
}
header .contact-all ul.contact li a.active{
    border-bottom: 2px solid var(--head-font-color);
}
header .logo{
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    height: 100px;
}
header .logo, header .cart-shopping{
    flex: 1;
    display: flex;
    justify-content: center;
}
header .logo a{
    text-decoration: none;
}
header .logo a img{
    height: 100%;
}
/* start logo animation */

/* end logo animation */
header .cart-shopping{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-left: 50px;
}
header .cart-shopping p{
    /* border: 1px solid var(--main-color); */
    position: relative;
    padding: 4px;
    color: var(--main-color);
    cursor: pointer;
}
header .cart-shopping p .price{
    position: absolute;
    right: -20%;
    top: -15%;
    color: #4db7ea;
}
/* start sidebar */
header .side-bar{
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: #f7f7f7cf;
    height: calc(100vh - 100px);
    width: 300px;
    flex-direction: column;
    align-items: center;
    color: var(--head-font-color);
}
header .side-bar.open{
    display: flex;
}
header .back{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 100px;
    height: 600px;
    display: none;
}
header .back.top.open, header .back.open {
    display: block;
}
.back.open.scrolling{
    top: 50px;
}
header .container .side-bar h1{
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 8px;
    width: 100%;
    text-align: center;
    background-color: var(--head-font-color);
    color: var(--second-color);
}
header .side-bar .products{
    flex: 8;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    justify-content: flex-start;
}
#empty-cart{
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--head-font-color);
}
header .side-bar .product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    position: relative;
}
header .side-bar .products .product::after{
    content: "";
    position: absolute;
    width: 90%;
    border: 1px solid #b3b1b16e;;
    bottom: 0;
}
header .side-bar .products .img{
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}
header .side-bar .products .img img{
    width: 100%;
    border-radius: 50%;
    /* padding: 10px; */
}
header .side-bar .products .product .name-price-amount{
    width: 100%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}
header .side-bar .products .product .name-price-amount .prod-name{
    position: relative;
}
header .side-bar .products .product .name-price-amount .prod-name h3{
    letter-spacing: .1rem;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
header .side-bar .products .product .name-price-amount .prod-name span{
    color: rgba(0, 0, 0, 60%);
    position: absolute;
    right: 5px;
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}
header .side-bar .products .product .name-price-amount .prod-name span:hover{
    color: rgba(0, 0, 0, 80%);
}
header .side-bar .products .product .name-price-amount .price-amount{
    display: flex;
    justify-content: space-around;
}
header .side-bar .products .product .name-price-amount .price-amount span{
    text-transform: uppercase;
    color: var(--);
    font-weight: 500;
    letter-spacing: .2rem;
}
header .side-bar .sum{
    flex: 1 1;
    /* margin: 10px auto; */
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
header .side-bar .card-btns{
    flex: 1 1;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
}
header .side-bar .card-btns > button{
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    height: fit-content;
    transition: all .3s ease-in-out;
}
header .side-bar .card-btns > button:hover{
    background-color: transparent;
    color: black;
}
/* end sidebar web*/
/* start responsive */
@media (min-width: 670px){
    header .contact-all .bar{
        display: none;
    }
}
@media (max-width: 670px){
    header .contact-all{
        justify-content: center;
        align-items: center;
    }
    header .contact-all ul.contact{
        display: none;
    }
    header .contact-all .bar{
        list-style: none;
        width: 45px;
        height: 30px;
        cursor: pointer;
        position: relative;
    }
    header .contact-all .bar li{
        position: absolute;
        height: 5px;
        background-color: var(--main-color);
        border-radius: 10px;
        transition: all .2s ease-in-out;
        width: 80%;
    }
    header .contact-all .bar li:first-child{
        transform: rotate(0) translateY(50%);
        top: 0;
    }
    header .contact-all .bar li:nth-child(2){
        background-color: var(--main-color);
        top: 50%;
    }
    header .contact-all .bar li:last-child{
        transform: rotate(0) translateY(-50%);
        top: 100%
    }
    header .contact-all .bar.clicked li{
        z-index: 102;
        top: 10px;
    }
    header .contact-all .bar.clicked li:first-child{
        transform: rotate(45deg);
    }
    header .contact-all .bar.clicked li:nth-child(2){
        background-color: transparent;
    }
    header .contact-all .bar.clicked li:last-child{
        transform: rotate(-45deg);
    }
}